<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col *ngFor="let c of cards">
        <ion-card [class]="c.clase" 
                  (click)="servG.irA(c.ruta)">
          <ion-card-content>
            <ion-icon slot="start" 
                      [name]="c.icono">
            </ion-icon>
          </ion-card-content>
          <ion-card-title>
            {{ c.titulo | titlecase }}
          </ion-card-title>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
